<div class="bottom-footer">
   <%= link_to "HMC", "https://www.hmc.edu/", class: "footer-text"%>
   <%= link_to "OID", "https://www.hmc.edu/diversity/", class: "footer-text"%>
   <%= link_to "Facebook", "https://www.facebook.com/HMCOID/", class: "footer-text"%>
   <%= link_to "Instagram", "https://www.instagram.com/hmc_oid/", class: "footer-text"%>
</div>
