<nav class="navbar is-fixed-bottom" role="navigation" aria-label="main navigation">
 <div class="navbar-item">
   <%= link_to "HMC", "https://www.hmc.edu/", class:"footer-text", style: "color:black" %>
 </div>
 <div class="navbar-item">
   <%= link_to "OID", "https://www.hmc.edu/diversity/", class:"footer-text", style: "color:black" %>
 </div>

 <div class="navbar-item navbar-end">
   <%= link_to "Facebook", "#", class:"footer-text", style: "color:black" %>
 </div>
 <div class="navbar-item">
   <%= link_to "Twiiter?", "#", class:"footer-text", style: "color:black" %>
 </div>
</nav>