<nav class="navbar is-fixed-bottom" role="navigation" aria-label="main navigation">
 <div class="navbar-menu is-active">
   <%= link_to "HMC", "https://www.hmc.edu/", class:"navbar-item footer-text", style: "color:black" %>
   <%= link_to "OID", "https://www.hmc.edu/diversity/", class:"navbar-item footer-text", style: "color:black" %>
   <%= link_to "Facebook", "#", class:"navbar-item footer-text", style: "color:black" %>
   <%= link_to "Twiiter?", "#", class:"navbar-item footer-text", style: "color:black" %>
 </div>
</nav>
