<div class="bottom-footer">
   <%= link_to "HMC", "https://www.hmc.edu/", style: "color:black", class: "footer-text" %>
   <%= link_to "OID", "https://www.hmc.edu/diversity/", style: "color:black" %>
   <%= link_to "Facebook", "https://www.facebook.com/HMCOID/", style: "color:black" %>
   <%= link_to "Instagram", "https://www.instagram.com/hmc_oid/", style: "color:black" %>
</div>
