<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-item">
	<%= link_to "HMC-Mentor", index_path, class:"navbar-item mentor-text", style: "color:black" %>
  </div>


  <div class="navbar-item navbar-end">
    <%= link_to "Log In", "#", class:"button", style: "color:black" %>
  </div>

  <div class="navbar-item">
    <%= link_to "Sign Up", new_path, class:"button", style: "color:black" %>
  </div>
</nav>
