<div class="tile is-parent">
  <article class="tile is-child notification is-dark">
    <div class="content">
      <p class="title">Features</p>
      <p class="subtitle">With even more content</p>
      <div class="content">
      </div>
    </div>
  </article>
</div>