<div class="tile">
	<div class="tile is-child notification is-warning">
      	<div class="center-pic">
		    <figure class="image">
		      <img src="https://image.ibb.co/hMere7/20543799_351269001969183_5045012471494947761_o.jpg">
		    </figure>
	    </div>
	</div>
</div>
