<div class="tile">
	<div class="tile is-child notification is-warning">
      	<div class="center-pic">
		    <figure class="image">
		      <img src="https://www.inwk.com/wp-content/uploads/2014/09/600x200.gif"> 
		    </figure>
	    </div>
	</div>
</div>