<div class="tile is-parent">
  <div class="tile is-child notification">
    <p class="title">Welcome from the Office of Instutional Diversity
      (OID) at Mudd!</p>
    <div class="content">
      <p class="subtitle">
        The Project Decode program provides first-generation and/or
        low-income students with resources, services and workshops
        to help them build community and navigate Harvey Mudd.
      </p>

      <p class="subtitle">
        Here you will find information and resources for first-generation
        students at Mudd, including accesible first-generation professors
        who are interested in providing mentorship to students,
        opportunities, Project Decode events, and more.
      </p>

      <p class="subtitle">
        Please explore the site and get in touch!
      </p>
    </div>
  </div>
</div>
