<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma"> 
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
</style>
<body>

  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <h3>The developers</h3><br>
    <div class="w3-quarter">
      <!-- TODO: Change this by adding desired picture -->
      <img src="/w3images/sandwich.jpg" alt="Sandwich" style="width:100%">
      <h3>Chen Pekker</h3>
    </div>
    <div class="w3-quarter">
      <img src = "https://image.ibb.co/nFBLcx/IMG_3255.jpg" style ="width:100%">
      <h3>Daksha Agarwal</h3>
    </div>
    <div class="w3-quarter">
      <!-- TODO: Change this by adding desired picture -->
      <img src="/w3images/wine.jpg" style="width:100%">
      <h3>Luis Hernández Cruz</h3>
    </div>
    <div class="w3-quarter">
      <!-- TODO: Change this by adding desired picture -->
      <img src="/w3images/wine.jpg" alt="Pasta and Wine">
      <h3>Nelll White</h3>
    </div>
  </div>
</div>



</body>
</html>

