<%= render 'form', testimonial: @testimonial %>

<div class="box has-text-centered is-shadowless">
  <button class="button is-info">
    <%= link_to 'Back', testimonials_path, {:style=>'color:#FFFFFF;', :class => "css_class"}%>
  </button>
</div>

