<%= render 'form', faq: @faq %>



  <div class="box has-text-centered is-shadowless">
    <button class="button is-info">
      <%= link_to 'Back', faqs_path, {:style=>'color:#FFFFFF;', :class => "css_class"}%>
    </button>
  </div>


