<div class="container">
  <h1 class="title">Resources available to First Generation Students at Mudd</h1>
  <div class="small-margin">
    <div class="content">
      <h1> Project Decode</h1>
      <p> Project Decode is for first-generation and/or low-income students providing workshops, guidance, events, and more to support your educational journey and academic success!</p>
      <h1>Office of Institutional Diversity</h1>
      <p>As one of the student support offices within the Division of Student Affairs, the Office of Institutional Diversity (OID) serves as a social justice education hub for the entire Harvey Mudd campus community.</p>
      <h1>Decode Abroad Scholarship</h1>
      <p>The Decode Abroad Scholarship was established to address opportunity gaps for Mudders who identify as first-generation and/or low-income. After identifying financial barriers expressed by fellow Mudders, the Office of Institutional Diversity decided to allocate resources to support student success and provide equitable opportunities for all Mudders to capitalize on professional and academic opportunities. This scholarship is open to all Mudd students but priority will be given to students who fit the criteria of low-income and/or first-generation student.</p>
    </div>
  </div>
</div>
