<div class="container">
  <h1 class="title">Resources available to First Generation Students at Mudd</h1>
  <div class="small-margin">
    <div class="content">
      <% @resources.each do |resource| %>
        <h1> 
          <%= resource.name %>
        </h1>
        <p>
          <%= resource.description %>
        </p>
      <% end %>
    </div>
  </div>
</div>
