/* universal */
.navbar-item {
    font-size: 20px;
    color:black;
}

.mentor-text {
    font-size: 25px;
    font-family: Verdana
}

.is-ancestor{
    margin-top: 10px;
}

.form {
    margin-top: 10px;
}

.title {
    margin-top: 10px;
}

.bottom-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.25rem;
    line-height: 3.25em;
    background-color: rgb(234, 170, 0);
    text-align: center;
}
